{
  "env": {
    "commonjs":true,
    "es6": true,
    "browser": true,
    "jquery": true
  }, 
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "dollar-sign",
    "jquery"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "dollar-sign/dollar-sign":[
      2,
      "ignoreProperties"
    ]
  }
}